body {
  padding-top: 50px;
}

.grayed_background {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.grayed_background_raw{
    background-color: #f6f6f6;
}

.m10{
    margin: 10px;
}

.p10{
    padding: 10px;
}

.tb10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cursorNormal{
    cursor: default;
}

.top20{
    padding-top: 20px;
}
