body {
  padding-top: 50px;
}

.grayed_background {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.m10{
    margin: 10px;
}

.tb10{
    margin-top: 10px;
    margin-bottom: 10px;
}
