{% extends "base.html" %}
{% block content %}

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button type="button" class="btn btn-success">Open</button> Issue #{{issue.id}} - created by {{issue.author|e}} - <abbr class="timeago" title="{{issue.created_at}}">{{issue.created_at}}</abbr>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>{{issue.title}}</h3>

                {{issue.content}}
            </div>
        </div>

        <hr>
        <!-- comments list -->
        {% for cm in issue.comments %}
            <div class="row tb10">
                <div class="col-xs-1 col-md-1">
                    <img src="http://www.gravatar.com/avatar/{{cm.hash}}?s=60" />
                </div>
                <div class="col-xs-11 col-md-11 grayed_background">
                    <div>
                        {{cm.content}}
                    </div>
                    <small>{{cm.author|e}} - <abbr class="timeago" title="{{cm.created_at}}">{{cm.created_at}}</abbr> </small>
                </div>
            </div>
        {% endfor %}

        <br><br>

        <form class="form-horizontal grayed_background" action="/add_comment" method="post">
            <input type="hidden" name="issue_related_id" value="{{issue.id}}">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" id="comments" name="comments" required style="width:100%;height: 170px;"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button id="validate" name="validate" class="btn btn-success">Add Comment</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

{% endblock %}
