{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1>Issues list</h1>
            </div>
            <div class="col-xs-12 col-md-6 text-right">
                <h1><a href="/create" class="btn btn-success btn-sm">Create issue</a></h1>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                <tr>
                    <td>
                        <a href="/issue?id={{issue.id}}">{{issue.title}}</a>
                    </td>
                    <td>{{issue.author}}</td>
                    <td>
                        <abbr class="timeago" title="{{issue.created_at}}">{{issue.created_at}}</abbr>
                    </td>
                    <td>
                        <abbr class="timeago" title="{{issue.updated_at}}">{{issue.updated_at}}</abbr>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("abbr.timeago").timeago();
        });
    </script>

{% endblock %}
